@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
:root {


    --main-text-color: #000;

    --heading-text-color: #808080;

    --site-width: 1200px;

    --main-font: 'Quicksand', sans-serif;

    --link-color: #f000;
}

/* ++++++++++++++++++++++++++++ site defaults    */

body {
    padding: 3%;
    font-family: var(--main-font)

}

header,
.nav-wrapper,
main,
footer {
        max-width: var(--site-width);
        
        margin-left: auto;
        margin-right: auto;
}

/* ++++++++++++++++++++++++++++ header    */

header {
    position: sticky;
    top: 0;
}

.logo-wrapper a {
    display: block;
    text-align: center
}

.logo-wrapper img {
    
}


/* ++++++++++++++++++++++++++++ nav    */
.nav-wrapper {
    

    margin-top: 20px;
    margin-bottom: 20px;

}

.nav-wrapper ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}

.nav-wrapper a {
    color: var(--main-text-color);
    text-transform: uppercase;
    text-decoration: none;
}

/* ++++++++++++++++++++++++++++ footer    */

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 20px auto;

    max-width: 500px;
}


/* ++++++++++++++++++++++++++++ typography    */



/* ++++++++++++++++++++++++++++ layout    */